.profile__info {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (max-width: 920px) {
  .profile__info {
    justify-content: center;
    max-width: 282px;
  }
}
