.profile__text {
  line-height: 1.21;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 7px;
  margin-bottom: 0;
  max-width: 87.5%;
}

@media (max-width: 720px) {
  .profile__text {
    font-size: 14px;
    margin-top: 9px;
    margin-bottom: 30px;
  }
}
