.profile__text {
  line-height: 1.21;
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 7px;
  margin-bottom: 0;
  width: 87.5%;  
}