.elements__title {
  color: #000;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  margin: 26px 0 25px 21px;
  max-width: 188px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 618px) {
  .elements__title {
    max-width: 350px;
  }
}

@media (max-width: 396px) {
  .elements__title {
    max-width: 210px;
  }
}
